div.bg-nursery{
    background-image: url("../../assets/images/vivero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

div.overlay{
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
}
